{% extends 'base.html' %}

{% block content %}
<h3>Sign In</h3>
  <form method="POST">
    {% csrf_token %}
    <div class="col-md-6 offset-md-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="col-md-6 offset-md-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>
    <br/>
    <div class="col-md-6 offset-md-3">
      <input type="submit" value="Sign in">
    </div>
  </form>


  {% endblock %}

