{% extends "base.html" %}

{% block content %}
<center><h3>Terms and Conditions</h3>
<p>This project was prepared for the Sprin 2023 Swe 573 Software Development Practice class.</p> 
<p>Our aim for developing the project is to gain experience of a full stack project cycle from start to finish, including dockerization and deployment. </p> 

<p>Purpose of the application is to give users a web platform to share memories with their geolocations. </p>
<p>Members can follow others, read, like, comment on stories and search geolocations using circular area additional to searching by their content.</p>


<a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'signUpPage' %}">Go back to sign up page</a>
</center>
{% endblock %}