{% extends 'base.html' %}

{% block content %}
    
    <h3>Write a story</h3>

    <form method="Post" id="story-form">
        {% csrf_token %}
        {{ story_form.media }}
        {{ story_form.as_p }}

        <div class="form-group">
            <label for="tags">Tags:</label>
            <input type="text" id="new-tag" class="form-control">
            <br>
            <button type="button" id="add-tag" class="btn btn-primary">Add Tag</button>
        </div>
        <input type="hidden" name="tags" id="tags">
        <ul id="tag-list">
            <!-- Tags will be added dynamically here with JavaScript -->
        </ul>

        <div class="form-group">
          <label for="id_locations">Locations:</label>
          <div id="map" style="height: 400px;"><a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a></div>
          <select id="id_locations" name="locations" multiple style="display: none;"></select>
          <input type="hidden" id="story_locations" name="story_locations">
          <br>
          <button type="button" id="addLocation" class="btn btn-primary">This is my story's location</button>
          <button type="button" id="removeLocation" class="btn btn-danger">Remove last location</button>
        </div><br>
        <button type="submit" class="btn btn-primary">Create Story</button>
    </form>
      
    {% block scripts %}
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css" />
        <script>
            const key = 'rbrQycsoiHDtV1Knh3g8';
            var latitude = 41.085137428988375;
            var longitude = 29.04444515705109; //setting Booğaziçi University as starting point

            var map = L.map('map').setView([latitude, longitude], 13);
            
            L.tileLayer(`https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=${key}`,{ //style URL
                tileSize: 512,
                zoomOffset: -1,
                maxZoom: 18,
                minZoom: 1,
                attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
                crossOrigin: true
            }).addTo(map);

            var story_locations = [];
            var tempMarker = null;
            var customIcon = L.icon({
                iconUrl: 'http://leafletjs.com/examples/custom-icons/leaf-green.png',
                shadowUrl: 'http://leafletjs.com/examples/custom-icons/leaf-shadow.png',
                iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
            }) ;

            map.on('click', function(e) {
                if (tempMarker) {
                    map.removeLayer(tempMarker);
                }
                tempMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
            });
        
            document.getElementById('addLocation').addEventListener('click', function() {
                if (tempMarker) {
                    map.removeLayer(tempMarker);
                    var newMarker = L.marker([tempMarker.getLatLng().lat, tempMarker.getLatLng().lng], {icon: customIcon}).addTo(map);
                    story_locations.push({
                        lat: newMarker.getLatLng().lat,
                        lon: newMarker.getLatLng().lng,
                        marker: newMarker
                    });
                    tempMarker = null;
                    updateLocations();
                }
            });

            document.getElementById('removeLocation').addEventListener('click', function() {
                if (story_locations.length > 0) {
                    map.removeLayer(story_locations[story_locations.length - 1].marker);
                    story_locations.pop();
                    updateLocations();
                }
            });

            function updateLocations() {
                var locationsInput = document.getElementById('story_locations');
                var locationsString = story_locations.map(function(location) {
                    return location.lat + ',' + location.lon;
                }).join('|');
                locationsInput.value = locationsString;
            }
        </script>

        <script type="text/javascript">
            // Add event listener for addTag button
            document.getElementById('add-tag').addEventListener('click', function() {
            var newTag = document.getElementById('new-tag').value;
            if (newTag) {
                var tagList = document.getElementById('tag-list');
                var newListItem = document.createElement('li');
                newListItem.textContent = newTag;
                var removeButton = document.createElement('button');
                removeButton.textContent = 'Remove';
                removeButton.classList.add('btn', 'btn-danger', 'btn-sm'); // Add classes here
                removeButton.addEventListener('click', function() {
                    tagList.removeChild(newListItem);
                    updateTagField();
                });
                newListItem.appendChild(removeButton);
                tagList.appendChild(newListItem);
                updateTagField();
            }
            document.getElementById('new-tag').value = '';
        });

        function updateTagField() {
            var tags = Array.from(document.getElementById('tag-list').children).map(function(li) {
                return li.firstChild.textContent;
            }).join(',');
            document.getElementById('tags').value = tags;
        }

        </script>
      {% endblock %}

{% endblock %}