

<div id="map" style="height: 500px;"><a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css" />

<script>
    const key = 'rbrQycsoiHDtV1Knh3g8';
    var latitude = 41.085137428988375;
    var longitude = 29.04444515705109; //setting Booğaziçi University as starting mark

    var map = L.map('map').setView([latitude, longitude], 13);
    L.tileLayer(`https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=${key}`,{ //style URL
        tileSize: 512,
        zoomOffset: -1,
        minZoom: 1,
        attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
        crossOrigin: true
      }).addTo(map);
    var marker = L.marker([latitude, longitude]).addTo(map);
    
    marker.bindPopup("Latitude: " + latitude + "<br>Longitude: " + longitude);

    map.on('click', function(e) {
        marker.setLatLng(e.latlng);
        document.getElementById('id_latitude').value = e.latlng.lat;
        document.getElementById('id_longitude').value = e.latlng.lng;
        
        marker.setPopupContent("Latitude: " + e.latlng.lat + "<br>Longitude: " + e.latlng.lng);
 
    });
</script>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">This is my story's place</button>
</form>
<style>
    #map {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 500px;
    }
</style>
